{% extends "principal.html" %}
{% load django_bootstrap5 %}

{% block contenido %}
<h1>Búsqueda Avanzada de Promociones</h1>
<form action="{% url 'promocion_buscar_avanzado' %}" method="GET">
    {% csrf_token %}

    <div class="mb-4">
        {% bootstrap_field formulario.nombre_descripcion show_label=True %}
    </div>

    <div class="mb-4">
        {% bootstrap_field formulario.fecha_inicio show_label=True %}
    </div>

    <div class="mb-4">
        {% bootstrap_field formulario.fecha_fin show_label=True %}
    </div>

    <div class="mb-4">
        {% bootstrap_field formulario.producto show_label=True %}
    </div>

    {% bootstrap_button "Buscar" button_type="submit" button_class="btn-primary" %}
</form>
{% endblock %}